@font-face {
  font-style: normal;
  font-family: 'Noto Sans';
  src: local('Noto Sans CJK SC'), local('PingFang SC'),
    url("./resource/font/NotoSansCJKsc-Regular.otf")
}

body {
  margin: 0;
  font-family: 'Noto Sans';
  background: #fcfcfc;
  color: #333;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
  background: inherit;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(170, 170, 170, 0.5);
}

@font-face {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  src: url('./resource/font/icomoon.woff') format('woff');
}
.icon-plus,
.icon-trash,
.icon-infinite,
.icon-arrow-left,
.icon-cycle,
.icon-minimize,
.icon-maximize,
.icon-unmaximize,
.icon-close,
.icon-more,
.icon-link {
  font-family: 'icomoon';
}
.icon-plus:before {
  content: "\e900";
}
.icon-trash:before {
  content: "\e901";
}
.icon-infinite:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-cycle:before {
  content: "\e904";
}
.icon-minimize:before {
  content: "\e906";
}
.icon-maximize:before {
  content: "\e907";
}
.icon-unmaximize:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e908";
}
.icon-more:before {
  content: "\e909";
}
.icon-link:before {
  content: "\e90a";
}
